<div ng-include="'partials/navbar.html'"></div>
<div id="chat">
  <div ng-repeat="message in messages | orderBy:'serverDate'" class="chat-message">
    <span class="user">{{message.user}}</span>
    <span class="date">{{message.receiveDate}}</span>
    <markdown-render raw="message.message"></markdown-render>
  </div>

  <textarea autofocus="autofocus" class="chat-input" ng-model="currentMessage.message"></textarea>
  <markdown-render raw="currentMessage.message" class="chat-preview"></markdown-render>
  <a class="btn btn-large btn-success" ng-click="sendMessage(currentMessage)">Send</a>
</div>
