<div ng-include="'partials/navbar.html'"></div>

<ol>
  <li ng-repeat="post in blogs">
    <a ng-click="$parent.markdownraw = post" ng-class="{current: $parent.markdownraw == post}" class="blogLink">{{post.title}}</a>
  </li>
</ol>

<div class="form-group" id="title">
  <label for="author">Title: </label>
  <input class="form-control" ng-model="markdownraw.title" />
</div>
<div class="form-group" id="author">
  <label for="author">Author: </label>
  <input class="form-control" ng-model="markdownraw.author" />
</div>

<textarea class="markdown-raw" ng-model="markdownraw.content" />
<div class="content-buttons">
  <a class="btn btn-lg btn-success" ng-click="save(markdownraw)">Save</a>
  <a class="btn btn-lg btn-warning" ng-click="clear()">Clear</a>
  <a class="btn btn-lg btn-danger" ng-click="del(markdownraw)">Delete</a>
  <a class="btn btn-lg btn-success" ng-click="add()">New</a>
</div>
<markdown-render raw="markdownraw.content"></markdown-render>
